:root {
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-color: lightgoldenrodyellow;
}

h1, h2 {
    margin-top: 0;
}

.flexcontainer {
    display:flex;
}

.displayRack {
    flex-basis: 100%;

    display: flex;
    flex-wrap: wrap;

    background-color: #fff;
    padding: 15px;
    border: 1px solid #222;
    border-radius: 15px;
}

.sidebar {
    width: 150px;
    flex-shrink: 0;

    padding: 0 30px;
}

.record {
    margin: 15px;
    padding: 30px;
    width: 120px;
    height: 120px;
    font-size: 80px;
    color: #fff;
}

.sidebar .record {
    width: 60px;
    height: 60px;
    font-size: 40px;
}

.record.selected {
    opacity: 0.7;
    transform: rotate(15deg);
}
